@inject IWebHostEnvironment Env
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#F5F5F5" />
    <title>Landmark Analytics @(String.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "" : " - " + @ViewData["Title"])</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" />
    @if (Env.IsProduction())
    {
        <link rel="stylesheet" href="~/styles/global.min.css" asp-append-version="true" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJG5GTZFYF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-XJG5GTZFYF');
        </script>
    }
    else
    {
        @*DEVELOPMENT ONLY*@
        <link rel="stylesheet" href="~/styles/global.css" asp-append-version="true" />
    }
</head>
<body>
    <header id="header">
        <div class="nav-spacer">
            <a href="#" id="side-nav-toggle" aria-label="navigation">&#9776;</a>
        </div>

        <h1>
            <span id="header-text">Landmark Analytics</span>
            <partial name="_LandmarkLogoSvg" model='new {id="header-logo"}' />
        </h1>
        <div class="nav-spacer"></div>
        <nav id="header-navigation" class="container">
            <partial name="_NavigationLinks" />
        </nav>
    </header>

    <aside id="sidebar">
        <nav id="side-navigation">
            <partial name="_NavigationLinks" />
        </nav>
    </aside>
    <div id="sidebar-backdrop"></div>

    <main id="main-content" role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer id="footer">
        &copy; @DateTime.Now.Year Landmark Analytics | A division of LaRue Enterprises, LLC |
        <a href="https://www.linkedin.com/company/landmark-analytics">
            <svg role="img"><use xlink:href="#linkedin-letters" /></svg>
            <span class="visually-hidden">LinkedIn</span>
        </a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <partial name="_SvgIcons" />

    <!--Environment: @Env.EnvironmentName-->
</body>
</html>
